<div class="card">
    <div class="card-body">
        <button (click)="addResource()" type="button" class="btn btn-outline-info me-2">Add Resource</button>
        <button (click)="uploadVideo()" type="button" class="btn btn-outline-info me-2">Add Video</button>

        <button (click)="viewVideos()" type="button" class="btn btn-outline-info me-2">Videos</button>
        <button (click)="viewAlgoResults()" type="button" class="btn btn-outline-info me-2">Algo Results</button>
        <button (click)="viewVideoResults()" type="button" class="btn btn-outline-info me-2">Video Results</button>
        <button (click)="viewPickSheets()" type="button" class="btn btn-outline-info me-2">Pick-Sheets</button>
        <button (click)="viewPickSheetDetails()" type="button" class="btn btn-outline-info me-2">Pick-Sheet Details</button>
    </div>
</div>