<div class="container mt-3">
    <h2>Videos</h2>
    <br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Video File</th>
                <th>Record Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Actions</th>
        
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let video of videos">
                <td>{{video.videoFile}}</td>
                <td>{{video.recordDate}}</td>
                <td>{{video.startTime}}</td>
                <td>{{video.endTime}}</td>
                <td>
                    <button (click) = "updateVideo(video.id)" type="button" class="btn btn-outline-primary me-2">Edit</button>
                    <button (click) = "deleteVideo(video.id)" type="button" class="btn btn-outline-danger me-2">Delete</button>
                    <button (click) = "uploadPickSheet(video.id)" type="button" class="btn btn-outline-info">Add Pick-Sheet</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
